<div class="what-is-logicly">
  <h2>What is Logicly?</h2>
  <%= image_tag("photo/iconic-shot-of-earth.jpg") %>
  <p>
    A Platform for discovery and learning
    <br /><br />
    It is a social discussion and consensus ecosystem where you can partake in 
    discussion and ratings in the <a href="#idea-base">Idea Base</a> and 
    <a href="#link-base">Link Base</a>.
  </p>
</div>