<div class="what-is-logicly">
  <h2>What is Logicly?</h2>
  <%= image_tag("photo/iconic-shot-of-earth.jpg") %>
  <p>
    A Platform for discovery and learning
    <br /><br />
    It is a social discussion and consensus platform where you can participate with others, 
    discussing topics in the <a {{action scroll_to '#idea-base'}}>Idea Base</a> and 
    <a {{action scroll_to '#link-base'}}>Link Base</a>.
  </p>
</div>

<section>
  <h2 class="hidden-on-mobile">Sharing ideas is what Logicly is all about</h2>
  <div class="bases">
    <div id="idea-base">
      <center><%= image_tag("photo/lightbulb-sprout.png") %></center>
      <h2>What is the Idea Base?</h2>
      <p>
        The Idea Base is an encyclopedia-like, user-maintained database of ideas you want to 
        discuss. Whether that idea is a controversial theory or an interesting question, 
        anything is open for discussion.
      </p>
    </div>
    <div id="link-base">
      <center><%= image_tag("photo/www.png") %></center>
      <h2>What is the Link Base?</h2>
      <p>
        The Link Base is a database of user-submitted links to any page around the web you want
        to discuss. Whether that link is a YouTube video with disabled ratings and comments or 
        a controversial tweet, anything is open for discussion.
      </p>
    </div>
  </div>
</section>

<section>
  <h2 class="hidden-on-mobile">Discussion on Logicly is easy with our Discussion Platform</h2>
  <div class="bases discussion">
    <div>
      <h2>What is the Discussion Platform?</h2>
      <p>
        The discussion platform is a place where you can submit comments and vote on the best 
        ones for or against a topic.
        <br /><br />
        The power of Logicly's platform comes from our focus on opposing viewpoints. You're able 
        to view both sides of an argument side-by-side, deciding which opinions are the best. The 
        most popular opinions in each viewpoint rise to the top.
      </p>
    </div>
    <div>
      <center><%= image_tag("photo/speech-bubbles.png") %></center>
    </div>
  </div>
</section>