@font-face {
  font-family: AvenirNext-UltraLight;
  src: url('https://s3.amazonaws.com/logicly-fonts/AvenirNext-UltraLight.otf');
}

@font-face {
  font-family: AvenirNext-Regular;
  src: url('https://s3.amazonaws.com/logicly-fonts/AvenirNext-Regular.otf');
}

@font-face {
  font-family: AvenirNext-Medium;
  src: url('https://s3.amazonaws.com/logicly-fonts/AvenirNext-Medium.otf');
}