input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #b7b7b7;
}

input[type="text"],
input[type="password"],
textarea {
  background: white;
  padding: 0.8em;
  color: #323232;
  font-size: 1.3em;
  font-family: AvenirNext-Regular;
  width: 22em;
  border: 2px solid #d9d9d9;
  border-radius: 0.2em;
  box-sizing: border-box;
  transition: border 0.5s;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

  @media (max-width: 850px) {
    width: 100%;
    display: block;
    margin: 15px 0;
  }

  @media (max-width: 600px) {
    font-size: 1em;
    padding: 0.5em;
  }

  &:focus {
    border-color: #8e9fbb;
  }
}

button {
  font-size: 1.3em;
  border: 0;
  color: white;
  padding: 0.8em 1.5em 0.8em 1.5em;
  cursor: pointer;
  font-family: AvenirNext-Regular;
  border-radius: 0.2em;
  background: #2b882d;
  transition: 0.5s background;
  -webkit-font-smoothing: antialiased;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4);

  @media (max-width: 850px) {
    width: 100%;
    display: block;
    margin: 15px 0;
  }

  @media (max-width: 600px) {
    font-size: 1em;
    padding: 0.5em 1em 0.5em 1em;
  }

  &:hover {
    background: #3ab53d;
  }

  &:disabled {
    opacity: 0.5;
  }
}

ul.errors {
  list-style: none;
  padding: 0;

  li {
    color: rgb(190, 87, 87);
    width: 50%;
    text-align: left;
  }
}