body {
  &.index {
    div.what-is-logicly {
      img {
        width: 100%;
        margin: 0 0 -6px 0;
      }

      h2 {
        position: absolute;
        color: white;
        opacity: 0.7;
        font-size: 3em;
        font-family: AvenirNext-UltraLight;
        top: 3.5em;
        left: 7%;
        margin: 0;
        -webkit-font-smoothing: initial;

        @media (max-width: 1650px) {
          top: 2.75em;
        }
        @media (max-width: 1420px) {
          left: 3%;
          font-size: 2.5em;
        }
        @media (max-width: 1032px) {
          left: 2%;
          font-size: 1.5em;
        }
        @media (max-width: 600px) {
          left: initial;
          right: 5%;
          font-size: 1.5em;
          top: 2em;
          font-family: AvenirNext-Regular;
        }
        @media (max-width: 396px) {
          font-size: 1em;
        }
      }

      p {
        position: absolute;
        color: white;
        opacity: 0.7;
        font-size: 2em;
        top: 3em;
        right: 2%;
        width: 45%;

        @media (max-width: 1557px) {
          top: 1.5em;
        }
        @media (max-width: 1420px) {
          font-size: 1.5em;
        }
        @media (max-width: 1059px) {
          font-size: 1.25em;
        }
        @media (max-width: 888px) {
          font-size: 1em;
        }
        @media (max-width: 660px) {
          font-size: 0.9em;
        }
        @media (max-width: 600px) {
          top: initial;
          right: initial;
          font-size: 1em;
          color: #323232;
          opacity: 1;
          position: relative;
          width: 100%;
          margin: 0;
          padding: 15px;
        }
      }
    }

    section.dual-content {

      div.bases {
        margin-top: 30px;
        @media (max-width: 900px) {
          margin-top: 0px;
        }

        &.in-beta {
          div {
            &:nth-of-type(1) {
              border-right-width: 0px;
            }

            span {
              display: block;
              margin-top: 3em;

              @media (max-width: 900px) {
                margin-top: 1em;
              }

              a {
                display: inline-block;
              }
              img {
                height: 100px;

                &.with-margin {
                  margin-left: 1em;
                }

                @media (max-width: 600px) {
                  height: 65px;
                }
              }
            }
          }
        }

        &.discussion {
          div {
            &:nth-of-type(1) {
              border-right-width: 0px;
            }

            img {
              margin: 67px 0 0 -97px;
              height: 100px;
            }
          }
        }

        p {
          padding: 0 30px;
          line-height: 35px;

          @media (max-width: 600px) {
            padding: 0;
            line-height: initial;
            margin: 0;
          }
        }

        img {
          height: 120px;

          @media (max-width: 600px) {
            //display: none;
            height: 75px;
          }
        }

        div {
          width: 49%;
          display: inline-block;
          vertical-align: top;

          &.has-img {
            @media (max-width: 900px) {
              display: none;
            }
          }

          @media (max-width: 900px) {
            width: 100%;
            display: block;
          }

          &:nth-of-type(1) {
            display: inline-block;
            zoom: 1;

            &.has-img {
              @media (max-width: 900px) {
                display: none;
              }
            }

            &:after {
              content: " ";
              display: inline-block;
              font-size: 0;
              height: 0;
              clear: both;
              visibility: hidden;
            }
            border-right: 1px solid rgba(203, 203, 165, 0.75);
            
            @media (max-width: 900px) {
              border-right-width: 0px;
            }
          }
        }
      }
    }

    section.signup-section {
      margin-bottom: 2em;

      @media (max-width: 600px) {
        margin-bottom: 1em;
      }

      h2 {
        @media (max-width: 600px) {
          font-size: 1.2em;
          margin-top: 0;
        }
      }

      button {
        @media (min-width: 850px) {
          margin-left: 1.5em;
        }
      }
    }
  }
}