<center>
  <img src="http://i98.photobucket.com/albums/l280/MH_Strife/logo-small.png" width="107" alt="Logicly Logo">
  <p class="title" style="font-size: 14px; text-align: center; margin: 15px 0px 50px 0px;">
    You're on the Logicly Betalist!
  </p>
</center>

<p>
  Thank you for joining the Logicly Beta! We are currently building Logicly and plan to
  launch the Beta as soon as it's ready. We will contact you when Logicly goes live!
</p>

<p>
  If you would like to help spread the word, feel free to share our website and social networks.
  You can also keep up to date buy following us on twitter or any of our other social fronts.

  <ul>
    <li>Twitter - <a href="https://twitter.com/2logicly">@2logicly</a></li>
    <li>Google+ - <a href="https://plus.google.com/u/5/118348189465905764754/posts">+2logicly</a></li>
  </ul>
</p>

<p>- Team Logicly</p>